@{
    ViewBag.Title = "";
}

@section Styles {
	<link rel="stylesheet" href="@Url.Content("~/Content/Styles/Pages/home.css")">
}

<section id="cv" class="container">

	<div class="wrap">

		<h2>Curriculum Vitae:</h2>

		<ul class="documents">
			<li><a href="Documents/CV/Kolodziej-Jyoti-Curriculum-Vitae-2-18-14.pdf"><img src="/Content/Images/download.png" />Jyoti Kolodziej - CV</a></li>
		</ul>

	</div>

</section>

<section id="conferences" class="container">

	<div class="wrap">

		<h2>Conference Presentations:</h2>

		<ul>

			<li>
				<span class="presentation-authors">Kolodziej, J.A. & Sperry L.L. (2010, June).</span>
				<span class="presentation-title">What’s a Parent To Do: A Case Study of Socializing Talk By Parents To Siblings.</span>
				<span class="presentation-info">Lecture presented at the annual meetings of the Ethnographic Qualitative Research Conference, Cedarville, OH.</span>
				<a href="Documents/2010-EQRC/EQRC-2010-Final-Paper-6-4-10-final.pdf" class="presentation-download"><img src="/Content/Images/download.png" />EQRC 2010 Presentation</a>
			</li>

			<li>
				<span class="presentation-authors">Kolodziej, J.A. & Sperry, L.L. (2011, February).</span>
				<span class="presentation-title">Socializing Talk and Frustrated Preschoolers.</span>
				<span class="presentation-info">Poster presented at the annual meetings of the Convention for the National Association of School Psychologists, San Francisco, CA.</span>
				<a href="Documents/2011-NASP/Kolodziej-&-Sperry-NASP-2011-Poster.pdf" class="presentation-download"><img src="/Content/Images/download.png" />NASP 2011 Presentation</a>
			</li>

			<li>
				<span class="presentation-authors">Sperry, D.E., Glass, S., Kolodziej, J.A., Hamil, M., & Sperry, L.L. (2012, June). </span>
				<span class="presentation-title">A Cross-Cultural Comparison of How	Adults Versus Youths Say “No” to Two Year Olds.</span>
				<span class="presentation-info">Poster presented at the biennial meetings of the International Conference on Infant Studies, Minneapolis, MN.</span>
				<a href="Documents/2012-ISIS/Sperry,-Glass,-Kolodziej,-Hamil,-&-Sperry-ICIS-2012-Poster.pdf" class="presentation-download"><img src="/Content/Images/download.png" />ISIS 2012 Presentation</a>
			</li>

			<li>
				<span class="presentation-authors">Sperry, D.E., Kolodziej, J.A., & Sperry, L.L. (2010, April).</span>
				<span class="presentation-title">A Reassessment of the Vocabulary Environment of Low-Income American Children. </span>
				<span class="presentation-info">Poster presented at the	biennial meetings of the Conference on Human Development, New York, NY.</span>
				<a href="Documents/2010-CHD/CHD-2010-rev.pdf" class="presentation-download"><img src="/Content/Images/download.png" />CHD 2010 Presentation</a>
			</li>

			<li>
				<span class="presentation-authors">Sperry, L.L., Kolodziej, J.A., & Sperry, D.E. (2011, April).</span>
				<span class="presentation-title">A Cross-Cultural Description of Strategies Used by Parents During Everyday Conflicts with their Young Children.</span>
				<span class="presentation-info">Poster presented at the biennial meetings of the Society for Research in Child Development, Montreal, Canada. </span>
				<a href="Documents/2011-SRCD/Sperry,-Kolodziej-&-Sperry-SRCD-2011-Poster.pdf" class="presentation-download"><img src="/Content/Images/download.png" />SRCD 2011 Presentation</a>
			</li>

			<li>
				<span class="presentation-authors">Tinnerman, L.S. & Kolodziej, J.A. (2012, March).</span>
				<span class="presentation-title">A synergistic collaborative learning model.</span>
				<span class="presentation-info">Lecture presented at the annual meetings of Society	for Information Technology and Teacher Education, Austin TX.</span>
				<a href="Documents/2012-SITE/For-Submission-Synergetic-Collaborative-Learning.pdf" class="presentation-download"><img src="/Content/Images/download.png" />SITE 2012 Presentation</a>
			</li>

		</ul>

	</div>

</section>
		
<section id="essays" class="container">

	<div class="wrap">

		<h2>Essays:</h2>

		<ul class="documents">
			<li><a href="Documents/Essays/Kolodziej-Jyoti-Autobiographical-4-24-13.pdf"><img src="/Content/Images/download.png" />Autobiography</a></li>
			<li><a href="Documents/Essays/Kolodziej-Jyoti-Research-4-24-13.pdf"><img src="/Content/Images/download.png" />Research</a></li>
			<li><a href="Documents/Essays/Kolodziej-Jyoti-Multicultural-4-24-13.pdf"><img src="/Content/Images/download.png" />Multicultural Views</a></li>
			<li><a href="Documents/Essays/Kolodziej-Jyoti-Theoretical-Orientation-4-24-13.pdf"><img src="/Content/Images/download.png" />Theoretical Orientation</a></li>
		</ul>

	</div>

</section>

<section id="reports" class="container">

	<div class="wrap">

		<h2>Sample Reports and Intervention Plans:</h2>

		<ul class="documents">
			<li><a href="Documents/Reports/PTSummary11-22-2011-X-ed-10-29-12.pdf"><img src="/Content/Images/download.png" />Sample Report for X</a></li>
			<li><a href="Documents/Reports/AT091611-Student-A.pdf"><img src="/Content/Images/download.png" />Sample Report for A</a></li>
			<li><a href="Documents/Reports/PTS-07182012-Student-D-ed-10-29-12.pdf"><img src="/Content/Images/download.png" />Sample Report for D</a></li>
			<li><a href="Documents/Reports/Intervention-Plan-for-X-Changed-4-19-12-Case-Plan.pdf"><img src="/Content/Images/download.png" />Academic Intervention Plan for X</a></li>
			<li><a href="Documents/Reports/Behavioral-Intervention-Plan-for-N.pdf"><img src="/Content/Images/download.png" />Behavioral Intervention Plan for N</a></li>
		</ul>

	</div>

</section>

<section id="resources" class="container">

	<div class="wrap">

		<h2>Resources:</h2>

		<ul class="documents">
			<li><a href="Documents/Resources/SLD-graphic-organizer.pdf"><img src="/Content/Images/download.png" />Specific Learning Disability Graphic Organizer</a></li>
			<li><a href="Documents/Resources/SLD-Presentation-Notes-Edited.pdf"><img src="/Content/Images/download.png" />Specific Learning Disability Outline (Presentation)</a></li>
			<li><a href="Documents/Resources/Developmental-Theories-Edited for-Website.pdf"><img src="/Content/Images/download.png" />Guide for Developmental Theories</a></li>
		</ul>

	</div>

</section>

				

				